---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="title">Impressum</Fragment>

  <section class="card">
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>Unsere Community<br />Banhofstraße 20d<br />82386 Oberhausen</p>
    <p><strong>E-Mail:</strong> cristof@eecw.de</p>
  </section>
</Layout>

<style>
  .card {
    background: white;
    border-radius: 1.2rem;
    padding: 1.5rem;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
  }
</style>
